@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>Nuestra descripción es muy sencilla</h3>

<p>BurritoApps viene de Aplicaciones burrito, una compañía muy Mexa.</p>
<p>En busqueda de poder y dinero, a base de ti, tu hambre y dinero</p>
