@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>Nuestra pagina de contacto!</h3>

<address>
    UABC<br />
    Carretera Transpenisular, <br />
    <abbr title="Phone">Tel:</abbr>
    (646) 123-45-67
</address>

<address>
    <strong>El gallo: </strong> <a href="mailto:elgallo@appsburrito.com">elgallo@appsburrito.com</a><br />
    <strong>Marcel:</strong>   <a href="mailto:marcel@appsburrito.com">marcel@appsburrito.com</a><br />
    <strong>Elhuero:</strong>   <a href="mailto:Elhuero@appsburrito.com">elhuero@appsburrito.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:oliver@appsburrito.com">oliver@appsburrito.com</a>

</address>