@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Aplicaciones Burrito</h1>
    <p class="lead">BurritoApps!.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Consigue tus burritos via internet!
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rapido</h2>
        <p>Mediante nosotros, podras conseguir los burritos a tu eleccion, mas cercanos a ti.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facil</h2>
        <p>De una manera sencilla, podras conseguir burritos.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>