@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido!</h1>
    <p class="lead">BurritoApps!.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Comprar! &raquo;</a></p>
</div>